<!-- <p>
  login works!
</p>
<h1>jkzxdfh</h1> -->
<nav class="navbar navbar-default navbar-fixed-top">
  <!--  <div class="container-fluid"> --> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="index.html"> <img class="img-responsive" src="./assets/Page 1.png"></a>
  </div>

  <div class="collapse navbar-collapse navbar-custom" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="bg-color"><a href="#"><img  class="img-responsive" src="./assets/social_linkedin.png">
      </a></li>
      <li class="bg-color"><a href="#"><img class="img-responsive" src="./assets/social_twitter.png">
      </a></li>
      <li class="color-custom"><a href="login.html">LOG IN</a></li>
      <li class="color-custom"><a href="signup.html">SIGN UP</a></li>
    </ul> 
  </div>
  <!-- </div> -->
</nav>

